<div id="pageloader">   
            <div class="loader-item">
              <img src="assets/loading.gif" alt='loader' />
            </div>
        </div>

	<!-- Home Section -->
	<section id="home" class="nav-link">
	
		<!-- Slider -->
		<div id="slides" style="position: relative; overflow: hidden; width: 100%; height: 620px;">
			<div class="slides-control" style="position: relative; height: 100%; width: 3894px; left: -1298px;"><div class="slides-container" style="margin: 0px; padding: 0px; list-style: none; position: relative; height: 100%; display: block;">
			
			<!-- Slider assets -->
			 <div class="image1 pattern"></div>
			 <div class="image2 pattern"></div>
			 <div class="image3 pattern"></div>
			 <!-- End Slider assets -->
			 
			</div>
			
			<!-- Slider Controls -->
			
			<nav class="slides-navigation">
			  <a href="#" class="next"></a>
			  <a href="#" class="prev"></a>
			</nav>
			 
			<!-- End Slider Controls -->
			
		</div>
		<!-- End Slider assets -->
		
		<!-- Main - Text Slide -->
		<div class=" main">
			
			<!-- Text Slider -->
			<div class="flexslider home-slider">
			
				<!-- Text Slides -->
				<ul class="home-slides">
					<li>Reggie <span>Tucker</span></li>
					<li>IOS </li>
					<li>ReactJS<span> Developer</span></li>
				</ul>
				<!-- End Text Slides -->
				
				<div class="clear"></div>
				
			</div>

			<!-- Home Description -->
			<div class="home-desc"> Currently employed at Rails Hackers. </div>
			<!-- End Home Description -->
			
			<!-- Home Button -->
			<a class="scroll home-button" href="#about">More Information</a>
			<!-- End Home Button -->
			
		</div>
		<!-- End Main -->
		
	</section>
	<!-- End Home Section -->
	
	<!-- Navigation Section -->
	<section id="navigation" class="shadow">
	
		<div class="inner navigation">
			
			<!-- Logo Img -->
			<div class="logo">
				<a class="scroll" href="#home"><img src="assets/logo.png" alt="Logo"/></a>
			</div>
			
			<!-- Nav Menu -->
			<div class="nav-menu">
				
				<ul class="nav main-nav">
				
					<li class="active"><a class="scroll" href="#home">home</a></li>
					<li><a class="scroll" href="#about">about</a></li>
					<li><a class="scroll" href="#features">features</a></li>
					<!-- <li><a class="scroll" href="#history">history</a></li> -->
					<li><a class="scroll" href="#team">team</a></li>
					<!-- <li><a class="scroll" href="#portfolio">portfolio</a></li> -->
					<li><a class="scroll" href="#services">services</a></li>
					<!-- <li><a class="scroll" href="#prices">prices</a></li> -->
					
					<!-- <li><a class="scroll" href="#contact">contact</a></li> -->
				
				</ul>
				
			</div>
			
			
				<!-- Dropdown Menu For Mobile Devices-->
				<div class="dropdown mobile-drop">
				  <a data-toggle="dropdown" class="mobile-menu" href="#"><i class="fa fa-bars"></i></a>
				  <ul class="nav dropdown-menu fullwidth" role="menu" >
					<li><a class="scroll" href="#home">home</a></li>
					<li><a class="scroll" href="#about">about</a></li>
					<li><a class="scroll" href="#features">features</a></li>
					<!-- <li><a class="scroll" href="#history">history</a></li> -->
					<li><a class="scroll" href="#team">team</a></li>
					<!-- <li><a class="scroll" href="#portfolio">portfolio</a></li> -->
					<li><a class="scroll" href="#services">services</a></li>
					<!-- <li><a class="scroll" href="#prices">prices</a></li> -->
					
					<!-- <li><a class="scroll" href="#contact">contact</a></li> -->
				  </ul>
				</div>
		
			<div class="clear"></div>
		</div>
	
	</section>
	<!-- End Navigation Section -->
	
	
	<!-- About Section -->
	<section id="about" class="contain nav-link">
		
		<div class="about inner">
				
				<!-- First Content -->
				<div class="about-content animated" data-animation="flipInY" data-animation-delay="0">
				
					<div class="icon top">
						<i class="fa fa-check "></i>
					</div>
					
					<div class="content-header text">PERSONAL INTERESTS</div>
					<div class="content-desc text">Reading detective novels,Watching NFL & NCAA Football, 24, or hanging with The Fam at the park..</div>
					
					<div class="icon bottom">
						<i class="fa fa-plus "></i>
					</div>
					
				</div>
				
				<!-- Second Content -->
				<div class="about-content animated" data-animation="flipInY" data-animation-delay="100">
				
					<div class="icon top">
						<i class="fa fa-compress "></i>
					</div>
					
					<div class="content-header text">PROFESSIONAL INTEREST</div>
					<div class="content-desc text">Building IOS and Soon to be Unity3D software products for employers and clients..</div>
					
					<div class="icon bottom">
						<i class="fa fa-plus "></i>
					</div>
					
				</div>
				
				<!-- Third Content -->
				<div class="about-content animated" data-animation="flipInY" data-animation-delay="200">
				
					<div class="icon top">
						<i class="fa fa-rocket "></i>
					</div>
					
					<div class="content-header text">SKILLS</div>
					<div class="content-desc text">Restful API, ReactJS,IOS App Development</div>
					
					<div class="icon bottom">
						<i class="fa fa-plus "></i>
					</div>
					
				</div>
				
				<!-- Fourth Content -->
				<div class="about-content animated" data-animation="flipInY" data-animation-delay="300">
				
					<div class="icon top">
						<i class="fa fa-mobile "></i>
					</div>
					
					<div class="content-header text">TOOLS</div>
					<div class="content-desc text">Swift 4.0,React,Ruby,Ruby, Git,Data Scraping,Xcode, / Sketch 3. I have a natural eye for balance and design..</div>
					
					<div class="icon bottom">
						<i class="fa fa-plus "></i>
					</div>
					
				</div>
				
				<div class="clear"></div>
				
		</div><!-- End Inner div -->
		
	</section><!-- End About Section -->
	
	
	<!-- Features Section -->
	<section id="features" class="contain nav-link">
		
		<!-- Features Top Icon -->
		<div class="contain-logo">
			<i class="fa fa-check-circle-o "></i>
		</div>
		
		<div class="inner">

			<!-- Header -->
			<div class="header">
				IOS/React Apps with Rails Backend
			</div>
			
			<!-- Second Header -->
			<div class="page-desc">
				There are many ways to build the backend for an iOS application but you only need one.
			</div>
			
			<ul class="f-iphone">
			
				<li class="f-box f1 animated" data-animation="fadeInLeft" data-animation-delay="0">
					<div class="f-box-logo"><i class="fa fa-mobile"></i></div>
					<div class="f-box-head">IOS</div>
					<div class="f-box-desc"></div>
				</li>
				
				<li class="f-box f2 animated" data-animation="fadeInRight" data-animation-delay="200">
					<div class="f-box-logo"><i class="fa fa-cloud-upload"></i></div>
					<div class="f-box-head">Reactjs</div>
					<div class="f-box-desc"></div>
				</li>
				
				<li class="f-box f3 animated" data-animation="fadeInLeft" data-animation-delay="400">
					<div class="f-box-logo"><i class="fa fa-cloud-upload"></i></div>
					<div class="f-box-head">Rest/API</div>
					<div class="f-box-desc"></div>
				</li>
				
				<li class="f-box f4 animated" data-animation="fadeInRight" data-animation-delay="600">
					<div class="f-box-logo"><i class="fa fa-thumbs-up"></i></div>
					<div class="f-box-head">Beautiful Apps</div>
					<div class="f-box-desc"></div>
				</li>
			
			</ul>
			
			<div class="clear"></div>
		</div><!-- End Inner div -->
		
	</section><!-- End Features Section -->
	
	
	<!-- Skills Section -->
	<section id="skills" class="contain nav-link">

			<div class="inner skills">
			
			<!-- Features Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-rocket "></i>
				</div>
				
				
						<!-- Tabs -->
						<div class="tabs">
						
								<!-- Nav Menu -->	
								<ul class="nav nav-tabs" id="tab-menu">
								  <li class="active"><a href="#first" data-toggle="tab">Swift 4.0+</a></li>
								  <li><a href="#second" data-toggle="tab">Reactjs</a></li>
								  <li><a href="#third" data-toggle="tab">RestAPI</a></li>
								  <li><a href="#fourth" data-toggle="tab">Heroku</a></li>
								</ul>

								<div class="tab-content">
									
									<!-- Icon Left -->
									 <div class="tab-pane fade in active" id="first">
											
											<div class="tab-icon">
											
												<!-- <img src="assets/tab-icon1.png" alt=""/> -->
												
											</div>
											
											<div class="tab-desc">
											
												<p> I spend alot of time in local development. I utilize best practices for software development and testing. This saves me time and headaches. </p>
											
											</div>
											
											<div class="clear"></div>
											
									</div>
										
									<!-- Icon right -->	
									<div class="tab-pane fade" id="second">
												
												<div class="tab-desc">
												

													<p>The great thing about Reactjs/Rails is that you can get a working prototype up and running extremely quickly. Checking the feasibility of a project is made much easier because of this. In addition, I can quickly write an iOS client to query the server’s API to show on the iPhone and iPad.  . .</p>
												
												</div>
												
												<div class="tab-icon">
												
													<!-- <img src="assets/tab-icon3.png" alt=""/> -->
													
												</div>

												<div class="clear"></div>
												
									</div>
								 
									<!-- Only Text -->	
									<div class="tab-pane fade" id="third">
															
											<div class="tab-desc only">
											
												<p> From React to JSON API to IOS App. I can analyze a JSON response from a web service call and write Swift code to parse it into model objects.Display those model objects in a table view or collection view. Need a tableview or collection view nested in a scroll view?  I can make it happen.  </p>

												
											</div>
											
											<div class="clear"></div>
									</div>	

									<!-- Icon left -->	
									<div class="tab-pane fade" id="fourth">

											<div class="tab-icon">
											
												<!-- <img src="assets/tab-icon2.png" alt=""/> -->
												
											</div>
											
											<div class="tab-desc">

												<p>The main advantage for me is that Heroku is easy to start: you don't need to deal with the infrastructure. It really just works. For startups that don't want to spend time and money on setting up their configurations it's fantastic - a true time saver. Another advantage is that there is that scaling is straightforward - just specify the number of processing units (dynos) you need and you're set.
                        Another advantage, is that you're using standard tools to build your application so there's no lock-in when you decide to migrate to another service..</p>
											
											</div>
											
											<div class="clear"></div>
									</div>
						
						</div><!-- End tab-content div -->
					
					</div><!-- End Tabs div -->
				
				
					<!-- Skills -->
					<div class="Progress-bars">
					
						<div class="head">My Skills</div>
						
						<div class="Progress-content">
							
							<div class="progress-bars">
								
								<!-- Progress Texts -->
								<div class="progress-texts">
									<span class="progress-name">Swift Programming</span>
									<span class="progress-value">80%</span>
									<div class="clear"></div>
								</div>
								
								<!-- Progress Tables -->
								<div class="progress progress-striped active">
								  <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
								</div>
						
							</div>
							
							<div class="progress-bars">
								
								<!-- Progress Texts -->
								<div class="progress-texts">
									<span class="progress-name">Reactjs</span>
									<span class="progress-value">80%</span>
									<div class="clear"></div>
								</div>
								
								<!-- Progress Tables -->
								<div class="progress progress-striped active">
								  <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
								</div>
						
							</div>
							
							<div class="progress-bars">
								
								<!-- Progress Texts -->
								<div class="progress-texts">
									<span class="progress-name">Chrome-dev-tools</span>
									<span class="progress-value">80%</span>
									<div class="clear"></div>
								</div>
								
								<!-- Progress Tables -->
								<div class="progress progress-striped active">
								  <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
								</div>
						
							</div>
							
							<div class="progress-bars">
								
								<!-- Progress Texts -->
								<div class="progress-texts">
									<span class="progress-name">RestAPI</span>
									<span class="progress-value">90%</span>
									<div class="clear"></div>
								</div>
								
								<!-- Progress Tables -->
								<div class="progress progress-striped active">
								  <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
								</div>
						
							</div>
						
						</div>
					
					</div>
				
					<div class="clear"></div>
			</div><!-- End Inner div -->
	
	</section><!-- End Features Section -->
	
	
	
	
	
	
	
	
	
	<!-- Our Team Section -->
	<section id="team" class="contain nav-link">
		
			<div class="inner">
			
				<!-- Header -->
				<div class="header ">
					Contact Me
				</div>
				
				<!-- Second Header -->
				<div class="page-desc ">
					Update as of February 1st 2018: I now offer EMAIL TEMPLATE CODING. sample projects  Coming Soon!
				</div>
				
				
				<div class="team-items slide-boxes">

							<div class="item animated" data-animation="flipInY" data-animation-delay="0">
							  <img src="assets/team/1.jpg" alt="" class="img-circle" />
								<h3>Reggie Tucker</h3>
								<h4>IOS/Reactjs Developer</h4>
								<p>App development is my passion, trade and my life's work. I take my profession very seriously and am always interested in working with businesses and people that I can help. Drop me a line and say hi."</p>
								
								<div class="socials">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/ReggieSTucker"><i class="fa fa-twitter"></i></a>
									
								</div>
								
							</div>
							
							
						

				</div>

			</div><!-- End inner div -->
			
	</section><!-- End Our Team Section -->
		</section>
	
	
	<section id="services" class="contain nav-link">
		<div class="services bg parallax2">
			<div class="inner services">
			
				<!-- why-wisten Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-cogs "></i>
				</div>
			
				<!-- Header -->
				<div class="header">
					Our Services
				</div>
				
				<!-- Second Header -->
				<div class="page-desc">
					Product idea might well be the only thing required to start working with us. You've got one already? Let's bring it to life together!

				</div>
				
				<ul class="service-contents slide-boxes">
					
					<li class="service box animated" data-animation="flipInY" data-animation-delay="0">
						<a class="service-logo">
							<i class="fa fa-desktop "></i>
						</a>
					<h3>Business Apps</h3>
						<p>Smart and effective solutions for your business. Clean, intuitive, extremely easy to use.</p>
					</li>
					<li class="service box animated" data-animation="flipInY" data-animation-delay="200">
						<a class="service-logo">
							<i class="fa fa-desktop"></i>
						</a>
						<h3>Consumer Apps</h3>
						<p>Let your idea grow into a star with a stylish and engaging app. Magic success formula: value your business brings + awesome IOS & Ruby on Rails implementation..</p>
					</li>
					<li class="service box animated" data-animation="flipInY" data-animation-delay="400">
						<a  class="service-logo">
							<i class="fa fa-desktop "></i>
						</a>
						<h3>Entertainment Apps</h3>
						<p>It is not all about work, right? Make real fans out of your users with a beautiful, engaging and fun web app! .</p>
					</li>
					<li class="service box animated" data-animation="flipInY" data-animation-delay="600">
						<a class="service-logo">
							<i class="fa fa-desktop"></i>
						</a>
						<h3> PROJECT RESCUE</h3>
						<p>Freelancer not responding? Or application is incredibly slow or crashing? I can help...</p>
					</li>
					
					
					
				</ul>
				
				<div class="clear"></div>
				
				
			</div><!-- End Services Inner 1 -->
			
			</div><!-- End Services BG -->
			
			<div class="inner services bottom-bg">
			
				<div id="carousel-example-generic" class="carousel slide slide-s" data-ride="carousel">
				  <!-- Indicators -->
				 

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner service-text">
					<div class="item active">
						<div class="service-bottom-text">
							responsive and  <span>clean</span>  design
						</div>
					</div>
					
					<div class="item">
						<div class="service-bottom-text">
							modern and <span>creative</span> design
						</div>
					</div>
					
					<div class="item">
						<div class="service-bottom-text">
							I will <span>deliver</span> 
						</div>
					</div>
					
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control s-controls" href="#carousel-example-generic" data-slide="prev">
				  </a>
				  <a class="right carousel-control s-controls" href="#carousel-example-generic" data-slide="next">
				  </a>
				</div>
			
			</div><!-- End Services Inner 2 -->
	</section>	<!-- End Services Section -->
	
	
	<!-- Video Section -->
	<!-- <section id="video" class="contain">
	 -->
			<!-- Video Top Icon -->
			<!-- <div class="contain-logo video-logo">
				<i class="fa fa-youtube-play "></i>
			</div>
			
			<div class="video-pattern">
				<div class="video-text"></div>
			</div>
			 -->
			<!-- Video -->
			<!-- <div id="P2" class="player video-container" data-property="{videoURL:'V6_85cSOIcE',containment:'#video',autoPlay:true, mute:true, startAt:0, opacity:1}"></div> -->
			<!-- End Video -->
			
	<!-- </section> --><!-- End Video Section -->
	
	
	
	
	
			
				<!-- Contact Top Icon -->
				<div class="contain-logo contact-logo">
					<i class="fa fa-map-marker "></i>
				</div>
				
			<!-- Google Map -->
			
			<!-- End Google Map -->
			
	</section><!-- End Contact Section -->
	
	<!-- Footer Section -->
	<section id="footer">
	
		<div class="inner footer">
		
			<!-- Phone -->
			<div class="col-xs-4 footer-box animated" data-animation="flipInY" data-animation-delay="0">
				<a class="footer-links">
					<i class="fa fa-mobile"></i>
				</a>
				
				<p class="footer-text">
					<span>Phone</span>:<span>(404) 354-9839</span>
				</p>
			</div>
			
			<!-- Socials and Mail -->
			<div class="col-xs-4 footer-box animated" data-animation="flipInY" data-animation-delay="0">
				
				<!-- Social 1 -->
				
					
				
				
				<!-- Social 2 -->
				
       <a href="https://twitter.com/ReggieSTucker"><span class="fa fa-twitter fa-3x"></span><a>

				
				
				<!-- Social 3 -->
				<!-- <a class="footer-links">
					<i class="fa fa-google-plus"></i> -->
				</a>
				
				<!-- Social 4 -->
				<!-- <a class="footer-links">
					<i class="fa fa-pinterest"></i>
				</a> -->
				
				<!-- Mail -->
				<p class="footer-text">
					<span>Mail</span>:<span><a href="mailto:reggiestucker@gmail.com">reggiestucker@gmail.com</a></span>
				</p>
				
				<!-- Copyright -->
				<p class="footer-text copyright">
					©2018 Reggie Tucker. all rights reserved.
				</p>
			</div>
			
			<!-- Adress -->
			<div class="col-xs-4 footer-box animated" data-animation="flipInY" data-animation-delay="0">
			
				<!-- Icon -->
				<a class="footer-links">
					<i class="fa fa-map-marker"></i>
				</a>
				
				<p class="footer-text">
					Warminster, PA 
				</p>
			</div>
			
			<div class="clear"></div>
		</div> <!-- End Footer inner -->
		
	</section><!-- End Footer Section -->
	
	<!-- Back To Top Button -->
	<section id="back-top">
		<a href="#home" class="scroll"></a>
	</section>
	<!-- End Back To Top Button -->
