<!DOCTYPE html>
<html>
<head>
  <title>Reggie Tucker</title>
  <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".nav-menu" data-offset="50">

<%= yield %>

</body>
</html>
